@import "../scss/style.scss";
@import "../scss/responsive.scss";

//bootstrap
@import "bootstrap/dist/css/bootstrap.min.css";

//font_awesome
@import "font-awesome/css/font-awesome.min.css";

//flag_icons
@import "./vendors/flag-icon";

//feather_icon
@import "./vendors/feather-icon";

//ico_font
@import "./vendors/icofont";

//whether_icon
@import "./vendors/whether-icon";

//themify
@import "./vendors/themify";

@import "react-datepicker/dist/react-datepicker.css";
@import "react-multi-date-picker/styles/layouts/mobile.css";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "react-calendar/dist/Calendar.css";
@import "react-perfect-scrollbar/dist/css/styles.css";
@import "react-toastify/dist/ReactToastify.css";
@import "filepond/dist/filepond.min.css";
@import "photoswipe/dist/photoswipe.css";

//LeafLet
@import "leaflet/dist/leaflet.css";

//react-simplemde-editor
@import "easymde/dist/easymde.min.css";

@import 'react-image-crop/dist/ReactCrop.css';
@import 'react-image-crop/src/ReactCrop.scss';

//tour
@import "@sjmc11/tourguidejs/src/scss/tour.scss";

//swiper
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";
@import "swiper/css/grid";
@import "swiper/css/effect-fade";

// Import as a module in your JS
@import 'react-bootstrap-typeahead/css/Typeahead.css';