.svg {
  tspan {
    white-space: pre;
  }
  .shp0 {
    fill: $light-svg;
  }
  .shp1 {
    fill: $light-2-svg;
  }
  .shp2 {
    fill: $gray-svg;
  }
  .shp3 {
    fill: $gray-primary-svg;
  }
  .shp4 {
    fill: $light-svg;
  }
  .shp5 {
    fill: $primary-color;
  }
  .shp6 {
    fill: $dark-svg;
  }
  .shp7 {
    opacity: 0.302;
    fill: $dark-svg;
  }
  .shp8 {
    fill: $auth-bg-color;
  }
  .shp9 {
    opacity: 0.2;
    fill: $dark-svg;
  }
  .shp10 {
    fill: $light-orange-svg;
  }
  .shp11 {
    fill: $dark-orange-svg;
  }
}

.svg401 {
  tspan {
    white-space: pre;
  }
  .shp0 {
    fill: #f5f5f5;
  }
  .shp1 {
    fill: $gray-svg;
  }
  .shp2 {
    fill: #ff8b7b;
  }
  .shp3 {
    fill: $primary-color;
  }
  .shp4 {
    fill: $light-svg;
  }
  .shp5 {
    opacity: 0.2;
    fill: $dark-svg;
  }
  .shp6 {
    opacity: 0.302;
    fill: $primary-color;
  }
  .shp7 {
    fill: #ff5652;
  }
  .shp8 {
    opacity: 0.702;
    fill: $light-svg;
  }
  .shp9 {
    opacity: 0.2;
    fill: $primary-color;
  }
  .shp10 {
    fill: #ffc3bd;
  }
  .shp11 {
    fill: #ed847e;
  }
}

.svg403 {
  tspan {
    white-space: pre;
  }
  .shp0 {
    fill: $primary-color;
  }
  .shp1 {
    fill: #ebebeb;
  }
  .shp2 {
    fill: $gray-svg;
  }
  .shp3 {
    fill: $light-svg;
  }
  .shp4 {
    opacity: 0.3;
  }
  .shp5 {
    fill: $light-svg;
    opacity: 0.3;
  }
  .shp6 {
    fill: #eeb82f;
  }
  .shp7 {
    opacity: 0.1;
  }
  .shp8 {
    fill: #c7c7c7;
  }
  .shp9 {
    opacity: 0.2;
  }
  .shp10 {
    fill: #a6a6a6;
  }
  .shp11 {
    fill: $light-svg;
    opacity: 0.5;
  }
}
.svg-40 {
  tspan {
    white-space: pre;
  }
  .shp0 {
    fill: #e0e0e0;
  }
  .shp1 {
    fill: #46476c;
  }
  .shp2 {
    fill: #015dbe;
  }
  .shp3 {
    opacity: 0.4;
    mix-blend-mode: soft-light;
    fill: #ffffff;
  }
  .shp4 {
    opacity: 0.051;
    mix-blend-mode: multiply;
    fill: #000000;
  }
  .shp5 {
    opacity: 0.4;
    fill: #ffffff;
  }
  .shp6 {
    opacity: 0.2;
    fill: #000000;
  }
  .shp7 {
    opacity: 0.102;
    fill: #000000;
  }
  .shp8 {
    fill: #ffffff;
  }
  .shp9 {
    opacity: 0.2;
    fill: #ffffff;
  }
  .shp10 {
    fill: #000000;
  }
  .shp11 {
    opacity: 0.149;
    fill: #000000;
  }
  .shp12 {
    fill: #37474f;
  }
  .shp13 {
    fill: #263238;
  }
  .shp14 {
    opacity: 0.302;
    fill: #000000;
  }
  .shp15 {
    opacity: 0.502;
    fill: #000000;
  }
  .shp16 {
    opacity: 0.702;
    fill: #000000;
  }
  .shp17 {
    fill: #fafafa;
  }
  .shp18 {
    fill: #ffa8a7;
  }
  .shp19 {
    fill: #f28f8f;
  }
}

.svg500 {
  tspan {
    white-space: pre;
  }
  .shp0 {
    fill: #f5f5f5;
  }
  .shp1 {
    fill: #ffffff;
  }
  .shp2 {
    fill: #263238;
  }
  .shp3 {
    fill: #015dbe;
  }
  .shp4 {
    fill: #015dbe;
    opacity: 0.5;
  }
  .shp5 {
    fill: #ffffff;
    opacity: 0.2;
  }
  .shp6 {
    fill: #ffffff;
    opacity: 0.4;
  }
  .shp7 {
    opacity: 0.1;
  }
  .shp8 {
    opacity: 0.3;
  }
  .shp9 {
    fill: #f0f0f0;
  }
}

.svg-503 {
  tspan {
    white-space: pre;
  }
  .shp0 {
    fill: #f5f5f5;
  }
  .shp1 {
    fill: #e0e0e0;
  }
  .shp2 {
    fill: #ebebeb;
  }
  .shp3 {
    fill: #015dbe;
  }
  .shp4 {
    fill: #000000;
  }
  .shp5 {
    fill: #ffffff;
  }
  .shp6 {
    fill: #455a64;
  }
  .shp7 {
    opacity: 0.349;
    fill: #000000;
  }
  .shp8 {
    opacity: 0.2;
    fill: #000000;
  }
  .shp9 {
    opacity: 0.251;
    fill: #000000;
  }
  .shp10 {
    opacity: 0.502;
    fill: #000000;
  }
  .shp11 {
    fill: #fafafa;
  }
  .shp12 {
    opacity: 0.749;
    fill: #ffffff;
  }
  .shp13 {
    opacity: 0.102;
    fill: #000000;
  }
  .shp14 {
    fill: #f28f8f;
  }
}
